Repository UnBArqDsw/2020.1_G2_TCLDL, pull requests merged in 2020-09, with the labels that each got.

#17 Story board
  documentation/docs/base/requirements/elicitation/images/cree_conversation.png
  documentation/docs/base/requirements/elicitation/images/neil_conversation.png
  documentation/docs/base/requirements/elicitation/images/tb_conversation.png
  documentation/docs/base/requirements/elicitation/mentalMap.md
  documentation/docs/base/requirements/elicitation/storyBoard.md
  documentation/mkdocs.yml
Labels: documentation, dynamic-1

#15 5w2h
  documentation/docs/base/requirements/preTraceability/5w2h.md
  documentation/docs/base/requirements/preTraceability/images/5w2h_v1.jpg
Labels: documentation, dynamic-1

#16 Mind map
  README.md
  documentation/docs/base/requirements/preTraceability/images/mind_map_v0.jpg
  documentation/docs/base/requirements/preTraceability/images/mind_map_v1.jpg
  documentation/docs/base/requirements/preTraceability/mind_map.md
  documentation/mkdocs.yml
Labels: documentation, dynamic-1

#22 NFR framework
  documentation/docs/base/requirements/modeling/NFR-framework.md
  documentation/docs/base/requirements/modeling/images/NFR-easy-access-to-data-v0.png
  documentation/mkdocs.yml
Labels: documentation, dynamic-1

#21 Argumentation
  documentation/docs/base/requirements/preTraceability/argumentation.md
  documentation/docs/base/requirements/preTraceability/images/back-end-argumentation.png
  documentation/docs/base/requirements/preTraceability/images/team_of_collaborators.png
  documentation/mkdocs.yml
Labels: documentation, dynamic-1

#18 Rich picture
  documentation/docs/base/requirements/preTraceability/RichPicture.md
  documentation/docs/base/requirements/preTraceability/images/rich_picture1.jpeg
  documentation/docs/base/requirements/preTraceability/images/rich_picture2.png
Labels: documentation, dynamic-1

#39 Adds PR policy
  mkdocs/docs/contributing.md
  mkdocs/docs/images/pr_labels.png
  mkdocs/docs/images/pr_reviewers.png
  mkdocs/docs/images/pr_template.png
Labels: documentation, dynamic-1

#40 Fix typos and add PR policy
  mkdocs/docs/base/designSprint/prototype.md
  mkdocs/docs/base/documentation/costEstimates.md
  mkdocs/docs/base/documentation/riskPlan.md
  mkdocs/docs/base/requirements/elicitation/brainstorm.md
  mkdocs/docs/base/requirements/elicitation/moscow.md
  mkdocs/docs/base/requirements/elicitation/storyBoard.md
  mkdocs/docs/base/requirements/modeling/NFR-framework.md
  mkdocs/docs/base/requirements/modeling/backlog.md
  mkdocs/docs/base/requirements/modeling/backlogEpics/graphsAndSearch.md
  mkdocs/docs/base/requirements/modeling/backlogEpics/submissionAndReview.md
  mkdocs/docs/base/requirements/modeling/backlogEpics/user.md
  mkdocs/docs/base/requirements/modeling/glossary.md
  mkdocs/docs/base/requirements/modeling/lexicons.md
  mkdocs/docs/base/requirements/preTraceability/5w2h.md
  mkdocs/docs/base/requirements/preTraceability/RichPicture.md
  mkdocs/docs/base/requirements/preTraceability/argumentation.md
  mkdocs/docs/base/requirements/preTraceability/mind_map.md
  mkdocs/docs/contributing.md
  mkdocs/docs/images/pr_assign.png
  mkdocs/docs/images/pr_labels.png
  mkdocs/docs/images/pr_milestone.png
  mkdocs/docs/images/pr_reviewers.png
  mkdocs/docs/images/pr_template.png
  mkdocs/docs/index.md
Labels: documentation, dynamic-1

#42 Fixes images
  mkdocs/docs/base/requirements/modeling/NFR-framework.md
  mkdocs/docs/base/requirements/preTraceability/argumentation.md
  mkdocs/docs/base/requirements/preTraceability/images/back-end-argumentation.png
  mkdocs/docs/base/requirements/preTraceability/mindMap.md
  mkdocs/docs/contributing.md
  mkdocs/mkdocs.yml
Labels: bug, documentation, dynamic-1

#49 Fix image bugs
  mkdocs/docs/base/requirements/methodology/Methodology.md
  mkdocs/docs/index.md
  mkdocs/mkdocs.yml
Labels: documentation, dynamic-1

#66 Tcldl feature user case
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/user_case_v1.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/user_case_v2.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/userCase.md
Labels: documentation, dynamic-2

#79 Tcldl hotfix refactor mind map
  mkdocs/docs/base/requirements/preTraceability/images/mind_map_v2.jpg
  mkdocs/docs/base/requirements/preTraceability/mindMap.md
Labels: documentation, dynamic-2, update

#77 Tcldl hotfix refactor backlog
  mkdocs/docs/base/requirements/modeling/backlogEpics/dataCreation.md
  mkdocs/docs/base/requirements/modeling/backlogEpics/dataVisualization.md
  mkdocs/docs/extra_initiatives/extra_initiatives.md
  mkdocs/docs/traditionalModeling/staticDiagrams/packageDiagram.md
Labels: documentation, dynamic-2, update

#78 Tcldl feature back activity diagram
  mkdocs/docs/extra_initiatives/extra_initiatives.md
  mkdocs/docs/traditionalModeling/dynamicDiagrams/activityDiagram.md
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v1.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v1_1.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v1_2.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v1_3.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v1_4.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v2.png
  mkdocs/docs/traditionalModeling/dynamicDiagrams/images/activityDiagram_v2_1.png
Labels: documentation, dynamic-2
